<h1>Create User Form</h1>

<form [formGroup]="userForm">

    <label>Name:</label>
    <input type="text" formControlName="name">
    <div class="text text-danger" *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">
        <p *ngIf="userForm.get('name')?.errors?.['required'] ">This field is required</p>
        <p *ngIf="userForm.get('name')?.errors?.['minlength'] ">Min 3 chars required.</p>
    </div>

    <!-- <h5>touched: {{userForm.get('name')?.touched}}</h5>
    <h5>untouched: {{userForm.get('name')?.untouched}}</h5>    
    <h5>dirty: {{userForm.get('name')?.dirty}}</h5>
    <h5>pristine: {{userForm.get('name')?.pristine}}</h5>
    <h5>valid: {{userForm.get('name')?.valid}}</h5>
    <h5>invalid: {{userForm.get('name')?.invalid}}</h5> -->
    <br>

    <label>Age:</label>
    <input type="number" formControlName="age">
    <div class="text text-danger" *ngIf="userForm.get('age')?.invalid && userForm.get('age')?.touched">
        <p *ngIf="userForm.get('age')?.errors?.['required'] ">Age is required</p>
        <p *ngIf="userForm.get('age')?.errors?.['min'] ">Min 0 years.</p>
        <p *ngIf="userForm.get('age')?.errors?.['max'] ">Max 100 years only.</p>
    </div>
    <br>

    <label>Phone:</label>
    <input type="number" formControlName="phone">
    <div class="text text-danger" *ngIf="userForm.get('phone')?.invalid && userForm.get('phone')?.touched">
        <p *ngIf="userForm.get('phone')?.errors?.['required'] ">phone is required</p>
        <p *ngIf="userForm.get('phone')?.errors?.['min'] ">Phone no should be 10 digits</p>
        <p *ngIf="userForm.get('phone')?.errors?.['max'] ">Phone no should be 10 digits</p>
    </div>
    <br>

    <label>Email:</label>
    <input type="email" formControlName="email">
    <div class="text text-danger" *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
        <p *ngIf="userForm.get('email')?.errors?.['required'] ">email is required</p>
        <p *ngIf="userForm.get('email')?.errors?.['email'] ">Invalid email</p>
        <p *ngIf="userForm.get('email')?.errors?.['domainValidator'] ">only capgemini mail accepted.</p>
    </div>
    <br>

    <div formGroupName="address">

        <label>Hno:</label>
        <input type="text" formControlName="hno">
        <br>

        <label>state:</label>
        <input type="text" formControlName="state">
        <div class="text text-danger" *ngIf="userForm.get('address')?.get('state')?.invalid && userForm.get('address')?.get('state')?.touched">
            <p *ngIf="userForm.get('address')?.get('state')?.errors?.['required'] ">state is required</p>
            <p *ngIf="userForm.get('address')?.get('state')?.errors?.['minlength'] ">Min 3 chars required</p>
            <p *ngIf="userForm.get('address')?.get('state')?.errors?.['stateValidator'] ">only ts ap accepted</p>

        </div>
        <br>

        <label>pin:</label>
        <input type="number" formControlName="pin">
        <br>

    </div>

    <label>type:</label>
    <input type="radio" name="type" formControlName="type" value="dayScholor">
    <label>day scholor</label>
    <input type="radio" name="type" formControlName="type" value="residential">
    <label>residential</label>
    <br>

    <div *ngIf="userForm.get('type')?.value == 'dayScholor'">
        <label>bus fee:</label>
        <input type="number" formControlName="busFee">
        <br>
    </div>

    <div *ngIf="userForm.get('type')?.value == 'residential'">
        <label>hostel fee:</label>
        <input type="number" formControlName="hostelFee">
        <br>
    </div>

    <button (click)="addCard()">add card</button>

    <div formArrayName="cards">
        <div *ngFor="let card of cardsFormArray.controls; let i=index">
            <div formGroupName="{{i}}">
                
                <h1>card {{i+1}}</h1>

                <label>no:</label>
                <input type="number" formControlName="no">
                <div *ngIf="cardsFormArray.controls[i].get('no')?.invalid && cardsFormArray.controls[i].get('no')?.touched">
                    <p *ngIf="cardsFormArray.controls[i].get('no')?.errors?.['required']">no is requried</p>
                </div>
                <br>

                <label>exp:</label>
                <input type="month" formControlName="exp">
                <br>

                <label>cvv:</label>
                <input type="number" formControlName="cvv">
                <br>

                <button (click)="deleteCard(i)">delete</button>

            </div>
        </div>
    </div>
 
    <button class="btn btn-warning" (click)="submit()">submit</button>

</form>